body {
    background-color: #ebe7eb;
}

.wrapper{
    float: right;
    list-style-type: none;
    display: inline;
    background-color: rgba(0, 128, 0, 0.363);
   
}

.banner{

}

h1{

}

p{

}

h4{

}

button{
    
}